<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- spring框架的启动代码  -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener> 
	<!-- 配置spring3.x的上下文配置文件.没有的话spring会报错 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/applicationContext.xml</param-value>
	</context-param>

	<!-- 用于获取项目根目录日志 --> 
	<listener>
		<listener-class>com.djh.listener.LogPathConfigListener</listener-class>
	</listener>
	
  	<!-- 请求拦截进行统一编码处理 -->
  	<filter>
  		<filter-name>base_filter</filter-name>
  		<filter-class>com.djh.filter.BaseFilter</filter-class>
  	</filter>
  	<filter-mapping>
  		<filter-name>base_filter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	
  	<!-- 将所用以.do结尾的的请求委托给spring的DispatcherServlet类处理 -->
  	<servlet>
  		<servlet-name>springMvc</servlet-name>
  		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  		<init-param>
	    	<param-name>contextConfigLocation</param-name>
	   	    <param-value>classpath:config/springMvc.xml</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup> 
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>springMvc</servlet-name>
  		<url-pattern>*.do</url-pattern>
  	</servlet-mapping>
  
  
  
 
</web-app>